<div class="row">
    <div class="col-md-6 offset-3">
        <br />
        <h1 class="text-info text-center">Oups ! 404 Not Found !</h1>
        <hr />
        <a class="btn btn-outline-warning text-center" asp-controller="Movies" asp-action="Index">Home Page</a>
    </div>
</div>